.folder-container {
    padding: var(--space-m) var(--space-l);

    &[data-display-mode="list"] {
        .folder {
            .folder-body {
                .folder-style {
                    gap: 0;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }

    &[data-display-mode="grid"] {
        .folder {
            .folder-body {
                .folder-style {
                    gap: var(--space-s);
                }
            }
        }
    }
}