button.resizer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--size-icon-s);
    height: var(--size-icon-s);
    padding: 0;
    z-index: 4;
    cursor: nwse-resize;

    svg{
        fill: #80808080;
        align-self: flex-end;
    }
}