.font-set {
    padding: var(--space-m) var(--space-m);
    border-bottom: solid 1px var(--figma-color-border);

    &-index {
        color: var(--figma-color-text-tertiary);
    }

    &-content {
        width: 100%;
        & > .input-field:first-child{
            height: fit-content;
        }
    }

    .style-item-font {
        .input-field:first-child {
            pointer-events: none;
        }
    }


}