.font-options {

    flex-shrink: 0;

    &,
    ul {
        align-items: flex-end;
        padding: 0;
        list-style: none;
    }


    li {
        color: var(--figma-color-text-tertiary);

        .input-field {
            input {
                font-size: small;
                max-width: 40px;
                color: var(--figma-color-text-tertiary);
            }
        }

        svg {
            fill: var(--figma-color-icon-tertiary);
            width: var(--size-icon-xs);
            height: var(--size-icon-xs);
            flex-shrink: 0;
        }
    }




}