.dropdown {

    font-size: small;
    position: relative;
    text-transform: capitalize;
    color: var(--figma-color-text-secondary);


    svg{
        width: var(--icon-size-small);
        fill: var(--figma-color-icon-secondary);
    }

    &-label {
        font-size: small;
        color: var(--figma-color-text-tertiary);
    }

    label {
        border-radius: var(--radius-s);
        height: var(--input-height);
        padding: 0 var(--space-s);
        border: solid 1px var(--figma-color-border);
        cursor: pointer;
    }

    &-choices {
        list-style: none;
        padding: var(--space-s) 0;
        position: absolute;
        top: 0;
        width: 100%;

        hr{
            margin: var(--space-s) auto;
            width: 90%;
        }

        &[data-expanded="false"] {
            display: none;
        }

        li {
            cursor: pointer;
            padding: 0 var(--space-m);

            &:hover {
                background-color: var(--figma-color-bg-brand);
            }
        }
    }

}