.dropdown {

    font-size: small;
    position: relative;
    text-transform: capitalize;
    //color: var(--figma-color-text-secondary);


    svg{
        width: var(--size-icon-s);
        //fill: var(--figma-color-icon-secondary);
    }

    &-label {
        font-size: small;
        color: var(--figma-color-text-tertiary);
    }

    .label{
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 0;
        flex-shrink: 1;
        overflow: hidden;
        width: 100%;
    }

    & > label {
        border-radius: var(--radius-s);
        height: var(--input-height);
        padding: 0 var(--space-s);
        border: solid 1px var(--figma-color-border);
        cursor: pointer;
        

        & > *{
            pointer-events: none;
        }
    }

    &-choices {
        list-style: none;
        padding: var(--space-s) 0;
        position: absolute;
        top: 0;
        width: 100%;

        hr{
            margin: var(--space-s) auto;
            width: 90%;
        }

        &[data-expanded="false"] {
            display: none;
        }

        li {
            cursor: pointer;
            padding: 0 var(--space-m);

            &:hover {
                background-color: var(--figma-color-bg-brand);
            }
        }
    }

}