.input-slider {


    &-header {
        width: 100%;

        .input-field {
            width: 40px;

            input {
                text-align: right;
            }

        }
    }

    &-label {
        font-size: small;
        color: var(--figma-color-text-tertiary);
        text-transform: capitalize;
    }


    input[type='range'] {

        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 12px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-radius: 10em;


        &:hover {
            opacity: 1;
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            background: transparent;
            border-radius: 10em;
            border: solid 3px white;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }

    }


}