.tooltip {

    &-wrapper {
        position: absolute;
        top: 0;
        left: 0;

        &[data-display="false"] {
            display: none;
        }
    }

    &-content {
        max-width: 130px;
        margin-top: 10px;
        padding: var(--space-m) var(--space-s);

        input {
            font-size: small;
            width: 100%;
        }

        &::after {
            $tipSize: 15;
            content: '';
            top: calc(-1 * #{$tipSize}px / 2);
            left: calc(50% - calc(#{$tipSize}px/2));
            position: absolute;
            display: block;
            width: $tipSize+0px;
            height: $tipSize+0px;
            border: solid 1px var(--figma-color-border);
            transform: rotate(315deg);
            border-radius: var(--radius-s);
            clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%);
            background: var(--stylee-color-bg-brand-tertiary);
        }
    }

}