.shade{

    font-size: small;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: var(--space-m);

    & > span{
        height: 100%;
        border-radius: var(--radius-m);
    }

    ul{
        list-style: none;
        padding: 0;
        color: var(--figma-color-text-tertiary);
    }

    
}