.shade{


    font-size: small;
    display: grid;
    grid-template-columns: 2fr repeat(2,1fr);
    align-items: center;
    gap: var(--space-m);
    min-height: 46px;
    font-size: 0.7em;

    &-contrast{
        & > *:first-child{ color: white; }
        & > *:last-child{ color: black; }
    }

    &:first-of-type{
        & > span{ 
            border-top-left-radius: var(--radius-m); 
            border-top-right-radius: var(--radius-m);
        }
    }

    &:last-of-type{
        & > span{ 
            border-bottom-left-radius: var(--radius-m); 
            border-bottom-right-radius: var(--radius-m);
        }
    }

    & > span{
        height: 100%;
        padding-left: var(--space-s);
    }

    & > p:last-of-type{
        color: var(--figma-color-text-tertiary);
    }

    ul{
        display: none;
        list-style: none;
        padding: 0;
        color: var(--figma-color-text-tertiary);
    }

    
}