:root{

    //Margin
    --space-xs:3px;
    --space-s:6px;
    --space-m:12px;
    --space-l:24px;
    --space-xl:32px;
    --space-xxl:64px;
    --space-xxxl:92px;

    //Radius
    --radius-s:3px;
    --radius-m:6px;
    --radius-l:12px;
    --radius-xl:24px;
    --radius-xxl:32px;

    //Color
    --powerui-color-bg-brand-tertiary:#1E1E1E;

    //Inputs
    --input-height:36px;
}