:root{

    //Margin
    --space-xs:3px;
    --space-s:6px;
    --space-m:12px;
    --space-l:24px;
    --space-xl:32px;
    --space-xxl:64px;
    --space-xxxl:92px;

    //Radius
    --radius-xs:1px;
    --radius-s:3px;
    --radius-m:6px;
    --radius-l:12px;
    --radius-xl:24px;
    --radius-xxl:32px;

    //Color
    --stylee-color-bg-brand-tertiary:#1E1E1E;
    --stylee-color-bg-brand-overlay: #343434;
    --stylee-color-bg-hover-teriary:#111111;

    //Inputs
    --input-height-s:24px;
    --input-height-m:36px;

    //Icons
    --size-icon-xs: 12px;
    --size-icon-s: 16px;
    --size-icon-m: 20px;
    --size-icon-l: 24px;


    //Export
    --export-color-text-secondary: #707070;
    --export-color-border: #E0E0E0;

}