:root{

    //Margin
    --space-xs:3px;
    --space-s:6px;
    --space-m:12px;
    --space-l:24px;
    --space-xl:32px;
    --space-xxl:64px;
    --space-xxxl:92px;

    //Radius
    --radius-l:10px;
}