

body{
    font-family: "Inter", sans-serif;
    color: var(--figma-color-text);
}


svg{
    fill:var(--figma-color-icon-tertiary);
}


#powerui-app{
    display: grid;
    grid-template-columns: 50px auto;
}