.style-item-swatch {

    &[data-display-mode="grid"] {
        .style-item-swatch {
            &-detail {
                display: none;
            }
        }
    }

    &[data-display-mode="list"] {

        width: 100%;
        padding-left: var(--space-s);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-s);
        transition: background 0.1s linear;
        background: transparent;
        padding: var(--space-s);

        &:hover {
            background: var(--figma-color-bg-hover);
        }

        .style-item-swatch-detail {
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

    }


    &>label {
        width: 20px;
        height: 20px;
        display: block;
        border: solid 1px var(--figma-color-border);
        border-radius: 100em;
        cursor: pointer;

        input {
            visibility: hidden;
        }

        &:hover {
            border-color: var(--figma-color-border-strong);
        }
    }

    &-detail {
        .input-field {
            input {
                width: 100%;
            }

            font-size: small;
        }
    }

    &-codes {
        display: grid;
        grid-template-columns: 80px 140px 140px;
        color: var(--figma-color-text-onbrand-secondary);

        p {
            /*
            Can't copy content yet
            cursor: pointer;
            &:hover{
                color: var(--figma-color-text-onbrand);
            }*/
        }
    }

}