.style-item-swatch {

    & > label {
        width: 20px;
        height: 20px;
        display: block;
        border: solid 1px var(--figma-color-border);
        border-radius: 100em;
        cursor: pointer;

        input {
            visibility: hidden;
        }

        &:hover {
            border-color: var(--figma-color-border-strong);
        }
    }

    &-detail{
        .input-field{
            input{
                width: 110px;
            }
            font-size: small;
        }
    }

    &-codes {
        display: grid;
        grid-template-columns: 80px 140px 140px;
        color: var(--figma-color-text-onbrand-secondary);
        p{
            /*
            Can't copy content yet
            cursor: pointer;
            &:hover{
                color: var(--figma-color-text-onbrand);
            }*/
        }
    }

}