.template-sidepanel {
    border-right: solid 1px var(--figma-color-border);
    width: 300px;
    height: 100%;
    flex-grow: 1;
    padding: var(--space-m) var(--space-m);
    overflow: auto;

    &>hr {
        margin: var(--space-s) 0;
    }
}