.workbench-content {
    padding: var(--space-m);
    overflow: auto;
    height: inherit;
    width: 100%;

    .font-set {
        &:nth-child(2n) {
            background: var(--powerui-color-bg-brand-overlay);
        }
    }
}