.page.export{

    height: 100%;

    & > .tab-bar{
        position: sticky;
        top: 0;
        background-color: var(--figma-color-bg);
        z-index: 1;
    }

    .template-sidepanel{
        height: 100%;
    }
}