.input-field {

    input {

        background-color: transparent;
        box-shadow: 0px 0px 0px 0px var(--figma-color-border);
        border: none;
        user-select: none;
        padding: 0 var(--space-s);
        border-radius: var(--radius-s);

        &:hover{
            box-shadow: 0px 0px 0px 1px var(--figma-color-border);
        }

        &,
        &::placeholder {
            color: var(--figma-color-text);
        }

        &:focus {
            outline-color: var(--figma-color-border-brand);
        }

    }

}