.input-field {

    &[data-minified='true'] {

        .input-field-content {
            height: var(--input-height-s);

            &:hover {
                box-shadow: 0px 0px 0px 1px var(--figma-color-border-brand);
                border-color: var(--figma-color-border-brand);

                &:has(input:focus) {
                    box-shadow: 0px 0px 0px 2px var(--figma-color-border-brand);
                }
            }

        }

        .input-field-amount {
            display: none;
        }


    }

    &[data-stroke='false'] {
        .input-field-content {
            border: none;
        }
    }

    &-label {
        font-size: small;
        color: var(--figma-color-text-tertiary);
    }

    &-content {
        font-size: small;
        border: solid 1px var(--figma-color-border);
        height: var(--input-height-m);
        box-shadow: 0px 0px 0px 0px var(--figma-color-border);
        padding: var(--space-xs) var(--space-s);
        border-radius: var(--radius-xs);

        &:has(input:focus),
        &:has(input:hover) {
            box-shadow: 0px 0px 0px 2px var(--figma-color-border-brand);
            border-color: var(--figma-color-border-brand);
        }

        input {

            &[type='text'] {
                &::placeholder {
                    color: var(--figma-color-text-tertiary);
                }

                &::-ms-input-placeholder {
                    /* Edge 12 -18 */
                    color: var(--figma-color-text-tertiary);
                }
            }



            &[type="number"]::-webkit-outer-spin-button,
            &[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &[type="number"] {
                -moz-appearance: textfield;
            }

            &::placeholder {
                color: var(--figma-color-text-tertiary);
            }

            background-color: transparent;
            border: none;
            user-select: none;
            width: 100%;
            height: 100%;

            &:focus {
                outline: none;
            }

            &,
            &::placeholder {
                color: var(--figma-color-text);
            }

        }

        &[data-type='COLOR'],
        &[data-type='AMOUNT'] {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &[data-type='COLOR'] {
            gap: var(--space-s);
            padding-left: var(--space-xs);

            label:has(input[type='color']) {
                border: none;
                width: auto;
                height: 90%;
                display: block;
                aspect-ratio: 1/1;
                border-radius: var(--radius-xs);
                cursor: pointer;

                input[type='color'] {
                    visibility: hidden;
                }
            }

        }

        &[data-type='AMOUNT'] {
            padding-right: 0;
        }

    }


    &-amount {
        height: 100%;
        border-left: solid 1px var(--figma-color-border);

        .button-icon {
            width: 20px;
            padding: 0 var(--space-s);
            aspect-ratio: initial;
            height: 50%;
            display: flex;
            align-items: center;
            border-radius: 0;
        }
    }


}