.context-menu {

    list-style: none;
    padding: 0;
    padding: var(--space-m) 0;

    position: absolute;
    width: 160px;
    display: block;
    z-index: 5;

    max-height: 400px;
    overflow: scroll;

    hr {
        margin: var(--space-s) auto;
        width: 90%;
    }


    &.hide {
        display: none;
    }

    li {
        cursor: pointer;
        font-size: small;
        margin: var(--space-s) 0;
        padding: 0 var(--space-m);
        text-transform: capitalize;

        &:hover {
            background-color: var(--figma-color-bg-brand);
        }

        svg {
            width: var(--size-icon-s);
        }
    }

}