.context-menu {

    list-style: none;
    padding: 0;
    padding: var(--space-m) 0;

    position: absolute;
    width: 160px;
    display: block;
   

    &.hide {
        display: none;
    }

    li {
        cursor: pointer;
        font-size: small;
        margin: var(--space-s) 0;
        padding: 0 var(--space-m);

        &:hover {
            background-color: var(--figma-color-bg-brand);
        }
    }

}