.input-array {

    &-container {
        padding: var(--space-s);
        border-radius: var(--radius-s);
        border: 1px solid var(--figma-color-border);
    }

    &-label {
        font-size: small;
        color: var(--figma-color-text-tertiary);
        cursor: default;
    }

    &-value {
        border-radius: var(--radius-s);
        background: var(--figma-color-bg-hover);
        padding: var(--space-xs) var(--space-s);
        padding-left: var(--space-m);
        svg {
            width: var(--size-icon-s);
            fill: var(--figma-color-icon-onbrand-secondary);
        }
    }
}