.style-item-font {

    justify-content: space-between;
    flex-direction: row;
    gap: var(--space-m);
    align-items: center;
    width: 100%;
    transition: background 0.1s linear, border 0.1s linear, height 0.2s ease-out;
    transition-delay: height 0.1s;
    background-color: transparent;
    padding: var(--space-s) var(--space-s);
    border: solid 0px transparent;

    &-container {
        overflow: hidden;

        .input-field {
            width: 100%;

            .input-field-content {
                height: fit-content;

                &:hover,
                &:has(input:focus) {
                    box-shadow: none;
                }
            }
        }

    }

    .text-options {
        opacity: 1;
        pointer-events: auto;
        transition: none;
    }


    &[data-dynamic-options='true'] {
        padding-top: var(--space-l);
        padding-bottom: var(--space-l);

        &:hover,
        &:has(input:focus),
        &:has(.text-options[data-active='true']) {
            background-color: var(--figma-color-bg-hover);

            .text-options {
                opacity: 1;
                pointer-events: auto;
            }
        }

        .text-options {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.1s linear;
        }

    }

    &[data-display-mode="grid"] {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        align-items: flex-start;
        border-radius: var(--radius-s);
        border: solid 1px var(--figma-color-border);
        height: auto;
        width: calc(105px * 4 / 3);
        margin: 0;
        padding: var(--space-m);

        .style-item-font-container {
            pointer-events: none;
        }

        input {
            font-size: small;
        }

        .text-options {
            display: none;

            input {
                font-size: small;
            }
        }

        &:hover {
            border-color: var(--figma-color-border-strong);
            background-color: var(--figma-color-bg-hover);
        }

        ul {
            align-items: flex-start;
        }

        &>.input-field {
            font-weight: bold;
        }

        .input-field {
            pointer-events: none;
        }

        .input-field-content {
            padding: 0;
        }
    }

    &[data-line-height='true'] {

        &:hover,
        &:has(input:focus),
        &:has(.text-options[data-active='true']) {
            .style-item-font-container {
                .input-field {
                    .input-field-content {
                        input {
                            border-top: dashed 1px var(--figma-color-border);
                            border-bottom: dashed 1px var(--figma-color-border);
                        }
                    }
                }
            }

        }

        .style-item-font-container {
            .input-field {
                padding: 0 2px;

                .input-field-content {
                    padding: 0;
                }
            }
        }

    }

}