.button {
    min-height: var(--input-height-m);
    min-width: 80px;
    padding: 0 var(--space-m);
    border-radius: var(--radius-s);
    color: var(--figma-color-text);
    border: none;
    font-weight: bold;
    font-size: small;


    &[data-role="PRIMARY"] {
        background-color: var(--figma-color-bg-brand);

        &:hover {
            background-color: var(--figma-color-bg-brand-hover);
        }

        &:focus {
            background-color: var(--figma-color-bg-brand-pressed);
        }
    }

    &[data-role="SECONDARY"] {
        background-color: var(--figma-color-bg-secondary);

        &:hover {
            background-color: var(--figma-color-bg-hover);
        }

        &:focus {
            background-color: var(--figma-color-bg-pressed);
        }
    }

    &[data-role="TERTIARY"] {
        background-color: transparent;
        border: solid 1px var(--figma-color-border);

        &:hover {
            border-color: var(--figma-color-border-strong);
        }
    }
}