.section-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--figma-color-bg);
    justify-content: space-between;
    padding: var(--space-s) var(--space-m);
    border-bottom: solid 1px var(--figma-color-border);

    .options-row {

        &>div:last-of-type {
            .button-icon {
                border-radius: 10em;
                svg{
                    width: 16px;
                }
            }
        }
    }
}