.style-item-font {

    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: var(--space-m) 0;

    &>.input-field:first-child {
        input {
            color: var(--figma-color-text-secondary);
            transition: color 0.2s linear;
            &:focus,
            &:hover {
                color: var(--figma-color-text);
            }
        }

    }

    ul {
        align-items: flex-end;
        padding: 0;
        list-style: none;

        li {
            color: var(--figma-color-text-tertiary);

            svg {
                fill: var(--figma-color-icon-tertiary);
                width: var(--size-icon-xs);
                height: var(--size-icon-xs);
            }
        }


    }

}