.folder{

    width: 100%;
    padding-left: var(--space-l);

    &-header{
        width: 100%;
        &, & > div{
            align-items: center;
            justify-content: space-between;
        }
    }

}