.folder {

    margin-left: var(--space-m);

    &.hide {

        .folder-header-left {
            .options-row {
                button {
                    &:last-of-type {
                        transform: rotate3d(0, 0, 1, -90deg);
                    }
                }
            }
        }

        .folder-body {
            display: none;
        }

    }

    &-content {
        width: 100%;
    }

    &-header {
        width: 100%;

        &,
        &>div {
            align-items: center;
            justify-content: space-between;
        }

        &-left {
            .options-row {
                gap: 0;

                button {
                    padding: 0;

                    &:first-of-type {
                        width: 12px;
                        cursor: grab;

                        svg {
                            fill: var(--figma-color-border);
                        }
                    }
                }
            }

        }
    }

    &-body {
        padding: 0.5rem;
        margin-left: 2rem;
        padding-right: 0;
        margin-right: 0;
        border-left: solid 1px var(--figma-color-border);
        border-bottom-left-radius: 8px;
    }

}