.export-paint {

    &[data-direction='Column'] {
        .export-paint-container>div {
            flex-direction: column;
        }

        .export-paint-swatch {
            flex-direction: row;
        }

    }

    &[data-direction='Row'] {

        .export-paint-container>div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .export-paint-swatch {
                flex-direction: column;
            }
        }

    }

    &-container {
        margin: auto;
        padding: 0 var(--space-xl);
        &>div {
            display: flex;
            gap: var(--space-m);
        }

    }

    &-contrast {
        font-size: 11px;
        width: fit-content;
        padding: 0 var(--space-s);
        background: rgba(255, 255, 255, 0.80);
        border-radius: 10em;

        &>span {
            width: 10px;
            height: 10px;
            display: block;
            border: solid 1px #E9EBF8;
            border-radius: 10em;

        }
    }

    &-swatch {
        display: flex;
        gap: var(--space-m);

        &:nth-child(2) {
            opacity: 75%;
        }

        &:nth-child(3) {
            opacity: 50%;
        }

        &:nth-child(4) {
            opacity: 25%;
        }
    }

    &-color {
        min-width: 150px;
        min-height: 95px;
        background-color: #0c8ce9;
        padding: var(--space-s) var(--space-s);
    }

    ul {
        padding: 0;
        font-size: 11px;
        color: var(--export-color-text-secondary);
    }

}