.button-icon {

    border: none;
    border-radius: var(--radius-s);
    background-color: transparent;
    height: auto;
    aspect-ratio: 1/1;

    svg {
        fill: var(--figma-color-icon-secondary);
    }

    &[data-hover='true'] {
        &:hover {
            background-color: var(--figma-color-bg-hover);

            svg {
                fill: var(--figma-color-icon);
            }
        }
    }

    &[data-disabled='true'] {
        pointer-events: none;

        svg {
            fill: var(--figma-color-icon-disabled);
        }
    }

}