.button-icon{

    border: none;
    border-radius: var(--radius-s);
    background-color: transparent;
    height: auto;
    aspect-ratio: 1/1;

    &[data-hover='1']{
        &:hover{
            background-color: var(--figma-color-bg-hover);
        }
    }

}