.button-square{
    aspect-ratio: 1/1;
    width: 100%;
    background-color: var(--figma-color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;

    &:hover{
        background-color: var(--stylee-color-bg-hover-teriary);
    }

    &.active{
        background-color: var(--figma-color-bg-brand);
    }
}


